@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	font-family: Montserrat,sans-serif;
}
html{
	height: 100%
}

body{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	background-color: #f0f4f6;
}

li,a{
	font-size: 18px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 10%;
	background: rgb(76,140,231);
	background: linear-gradient(90deg, rgba(76,140,231,1) 0%, rgba(57,225,194,1) 100%);
	margin-bottom: 30px;
}

header h1{
	font-size: 40px;
	color: #02fbfe;
	cursor: pointer;
	margin-right: auto;
}

header h1 span{
	color: white;
}

.linkNav{
	list-style: none;
}
.linkNav li{
	display: inline-block;
	padding: 0 20px;
}
.linkNav li a{
	transition: all 0.3s ease 0s;
}

.linkNav li a:hover{
	border-bottom: 3px solid white;
}

.tombol{
	padding: 9px 25px;
	background-color: transparent;
	border: 2px solid white;
	color: white;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	margin-left: 20px;
}

.tombol:hover{
	background-color: white;
	color: skyblue;
}

#konten .konten{
	display: flex;
	width: 80%;
	height: 300px;
	background-color: transparent;
	margin: 0 auto;
	border-radius: 20px;
	flex:1;
}


#konten .contact{
	margin-top: 30px;
}

.konten h2{
	text-align: center;
	font-size: 36px;
}

.konten p{
	text-align: center;
	font-size: 20px;
	justify-content: center;
	flex-wrap: wrap;
	overflow-wrap: hidden;
}



footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 10%;
	margin-top: 30px;
	background: rgb(57,225,194);
	background: linear-gradient(90deg, rgba(57,225,194,1) 0%, rgba(76,140,231,1) 100%);
}

