@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
body{
    background-color : #F0F8FF;
    font-family: 'Montserrat';
}
header{
    background: rgb(0,99,255);
    background: linear-gradient(90deg, rgba(0,99,255,1) 0%, rgba(44,255,192,1) 100%);
}
nav a{
    text-decoration: none;
}
nav li{
    display: inline;
}
header h1{
	color: white;
}

header h1 span{
	color: #00ffeb;
}