@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
*{
	box-sizing: border-box;
	margin:0;
    padding: 0;
}


body{
	background-color:#F0F8FF;
	font-family: 'Montserrat';
}



/* nav */
nav{
    display: flex;
	justify-content: space-between;
	height: 65px;
	background: rgb(76,140,231);
	background: linear-gradient(90deg, rgba(76,140,231,1) 0%, rgba(57,225,194,1) 100%);
	align-items: center;
	padding: 0 120px;
	
}


nav ul a{
    font-size: 18px;
    font-weight: 500;
	color: white;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

nav ul a:hover{
	color: rgb(0, 110, 255);
}
nav ul{
	display: flex;
	list-style: none;
	width: 15%;
	justify-content: space-between;
	
}
.logo h1{
	color: white;
}

.logo h1 span{
	color: #00ffeb;
}
.tombol{
	background-color: rgb(0, 175, 102);
	padding: 5px 10px;
	border-radius: 10px;
}

.tombol:hover{
	background-color: white;
	color: #00ffeb;
}
/* ----Akhir dari Nav ---*/

/* Main */
main{
	display: flex;
	flex-direction: column;
}

/*Akhir Main*/

/*konten*/
.container-1{
	border: 2px solid black;
}
.container-2{
	border: 2px solid black;
}
.content-0{
	background-image: url('assets/homepage.png');
	background-size: cover;
	height: 300px;
	display: flex;
	align-items: center;
}

.content-0 h2{
	color: white;
}

footer h1{
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 20px;
}

footer h1 span{
	color: #00ffeb;
}
footer{
	background: rgb(57,225,194);
	background: linear-gradient(90deg, rgba(57,225,194,1) 0%, rgba(76,140,231,1) 100%);
}
