@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#F0F8FF;
    font-family: 'Montserrat';
	font-size: 18px;
	color: rgb(68, 68, 68);;
}


/*Navbar */
.navbar{    
    display: grid;
    grid-template-columns: 3fr 1fr;
	height: 65px;
	background: rgb(76,140,231);
    background: linear-gradient(90deg, rgba(76,140,231,1) 0%, rgba(57,225,194,1) 100%);
    align-items: center;
    position: fixed;
    width: 100%;
}
.logo h1{
	color: white;
}

.logo h1 span{
	color: #00ffeb;
}

.logo{
	padding-left: 120px;
}

.iconx{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.2em;
    transition: all 0.3s ease 0s;


}
.iconx:hover{
    color: rgb(233, 70, 70);

}


/*Inti */

.konten{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(5,1fr);
    row-gap: 10px;
    padding: 153px;
    
}

.input1{
    display: flex;
    margin-bottom: 10px;
    margin-left: 50px;
}

.input2{
    display: flex;
    margin-bottom: 10px;
}

.checkbox{
    display: flex;
    margin-bottom: 20px;
}
.tombol{
    display: flex;
    background-color: #2cff9d;
    height: 25px;
    width: 80px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 500;
    color: #F0F8FF;
    transition: all 0.3s ease 0s;
}
.tombol:hover{
    background-color: rgb(0, 195, 255);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
footer h1{
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 20px;
}

footer h1 span{
	color: #00ffeb;
}
footer{
	background: rgb(57,225,194);
	background: linear-gradient(90deg, rgba(57,225,194,1) 0%, rgba(76,140,231,1) 100%);
}

/*responsive */
@media(max-width: 768px){
}
@media(max-width: 576px){
    .navbar{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        height: 80px;
		padding-top: 10px;
        padding-bottom: 10px;
        
    }
    .logo{
        padding-left: 0px;
		font-size: 1.3em;
    }
    .konten{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
        padding-top: 15px ;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }

    .checkbox{
        padding: 10px 10px;
    
    }
    body{
        height: 100%;
    }
}