@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#F0F8FF;
    font-family: 'Montserrat';
    font-size: 18px;
}

/*NavBAr*/
.navbar{    display: grid;
    grid-template-columns: 2fr 1fr;
	height: 65px;
	background: rgb(76,140,231);
    background: linear-gradient(90deg, rgba(76,140,231,1) 0%, rgba(57,225,194,1) 100%);
    align-items: center;
}
.logo{
    padding-left: 120px;
    
}
.logo span{
    color: white;
}
.logo h1{
    color: #00ffeb;
}
.navigation{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
    list-style: none;

}

.navigation a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.navigation a:hover{
    color: #1596ff;
    text-shadow: 2px 2px #ffffff;
}
/*Akhir dari nav*/



