@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	font-family: Montserrat,sans-serif;
}
html{
	height: 100%
}

body{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	background-color: #f0f4f6;
}

li,a{
	font-size: 18px;
	color: white;
	text-decoration: none;
	font-weight: 500;
}

/*---Bagian Header ---*/
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 10%;
	background: rgb(76,140,231);
	background: linear-gradient(90deg, rgba(76,140,231,1) 0%, rgba(57,225,194,1) 100%);
	margin-bottom: 30px;
}

header h1{
	font-size: 40px;
	color: #02fbfe;
	cursor: pointer;
	margin-right: auto;
}

header h1 span{
	color: white;
}

.linkNav{
	list-style: none;
}
.linkNav li{
	display: inline-block;
	padding: 0 20px;
}
.linkNav li a{
	transition: all 0.3s ease 0s;
}

.linkNav li a:hover{
	border-bottom: 3px solid white;
}

.tombol{
	padding: 9px 25px;
	background-color: transparent;
	border: 2px solid white;
	color: white;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	margin-left: 20px;
}

.tombol:hover{
	background-color: white;
	color: skyblue;
}
/*---Bagian Header ---*/

/*---Bagian Konten About ---*/
#konten .konten{
	display: flex;
	width: 80%;
	background-color: transparent;
	margin: 0 auto;
	border-radius: 20px;
	flex:1;
}

#konten .contact{
	margin-top: 30px;
}

.about{
	box-shadow: 0 0 20px 0 #999;
	padding: 20px;
}

.about h2{
	text-align: center;
	font-size: 36px;
}

.about p{
	text-align: left;
	font-size: 20px;
	justify-content: center;
	flex-wrap: wrap;
	overflow-wrap: hidden;
}
/*---Bagian Konten About ---*/

/*---Bagian Konten Formulir ---*/

.contact{
	display: flex;
	justify-content: center;
	box-shadow: 0 0 20px 0 #999;
	padding: 20px;
}
.contact h2{
	text-align: center;
	font-size: 36px;
}

form{
	margin:0px;
}

.inputan-formulir{
	display: flex;
	margin: 20px 0;
	height: 40px;
	width: 400px;
	padding:0 20px;
	border: 1px solid black;
	border-radius: 20px;
	outline: none;
}

.inputan-pesan{
	padding: 10px 20px;
	display: flex;
	height: 150px;
	width: 100%;
	outline: none;
	
	border: 1px solid black;
}

.tombol-kirim{
	display: flex;
	margin: 20px auto;
	padding: 6px 15px;
	border-radius: 20px;
	outline: none;
	background-color: green;
	color: white;
}
/*---Bagian Konten Formulir ---*/

/*---Bagian Footer---*/
footer{
	display: flex;

	padding: 7px 10%;
	margin-top: 30px;
	background: rgb(57,225,194);
	background: linear-gradient(90deg, rgba(57,225,194,1) 0%, rgba(76,140,231,1) 100%);
}

footer h1{
	margin: 0 auto;
	font-size: 40px;
	color: #02fbfe;
	cursor: pointer;
	margin-right: auto;
}
footer h1 span{
	color: white;
}
/*---Bagian Footer---*/
