@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#F0F8FF;
    font-family: 'Montserrat';
	font-size: 18px;
	color: rgb(68, 68, 68);;
}

/*Navbar*/
.navbar{    
    display: grid;
    grid-template-columns: 2fr 1fr;
	height: 65px;
	background: rgb(76,140,231);
    background: linear-gradient(90deg, rgba(76,140,231,1) 0%, rgba(57,225,194,1) 100%);
    align-items: center;
}
.logo{
    padding-left: 120px;

}
.logo span{
    color: white;
}
.logo h1{
    color: #00ffeb;
}
.navigation{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
    list-style: none;
    align-items: center;

}

.navigation a{
    display: grid;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: all 0.3s ease 0s;
    font-weight: 500;

}

.navigation .tiga{
    background-color: white;
    color:  #1596ff;
    font-weight: 700;
    height: 40px;
    width: 40px;
    align-items: center;
    border-radius: 50px;
}
.navigation a:hover{
    color: #97f8ff;

    
}

.navigation .tiga:hover{
    background-color: #1596ff;
    text-decoration: none;
    color: white;
}


/*Konten */
.konten-atas{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    width: 70%;
    margin: 20px auto;
    background-color: white;
    border-radius: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.logoUser{
    background-color: #00ffeb;
    border-radius: 50%;
    padding: 10px 35px 10px 35px;
    font-size: 3rem;
    color: white;

}
.dataCust{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.tombolOut{
	margin-top:20px;
}

.tombolOut a{
	background-color: rgb(218, 0, 0);
	color: white;
	text-decoration: none;
	padding: 0.4rem 1.1rem;
	border-radius: 20px;
}

/*Konten Bawah*/
.konten-bawah{
    display: grid;
    background-color: white;
    width: 70%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
}
.saya{
    text-align: center;
}

.pesanan{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.daftar-pesanan{
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 70%;
}
.info-pesanan{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.dot-status{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.card-status{
    height: 100px;
    display: grid;
    justify-content: space-around;

}
.card-status .nomer{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	margin: auto;
}
.nomer h2{
	text-align: center;
	padding-top: 15px;
	color: white;
}
.card-status h3{
	margin-top: 10px;
}
.nomer1{
	background-color: yellow;
}
.nomer2{
	background-color: grey;
}
.nomer3{
	background-color: grey;
}

.harga{
	display: inline-block;
	background-color: rgb(76,140,231);
	color: white;
	padding: 0.3rem 1.1rem;
    width: 50%;
    height: 50%;
    align-self: center;

}

.tanda{
	background-color: yellow;
}

/*Tanda*/
.tanda{
    display: grid;
    background-color: white;
    width: 70%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

/* -- Pop Up -- */
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:rgba(0,0,0,0.6);
    display: none;
}

img{
    display: block;
    height: 200px;
    margin: 0 auto;
}

.kontenPopup{
    width: 50%;
    height: 70%;
    margin: 60px auto;
    position: relative;
    border: 5px solid red;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding-top: 30px;

}

.kontenPopup h1{
    font-size: 3rem;
    padding-bottom: 10px;

}

.tombolOke{
    display: inline-block;
    background-color: green;
    padding: 0.6rem 1.6rem;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    border-radius: 20px;
}

.tombolOke:hover{
    background-color: skyblue;
    color:white;
}

.tutup{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    border: 3px solid red;
    background-color: red;
    color: white;
    text-decoration: none;
    line-height: 0;
    padding: 9px 0 11px;
    width: 20px;
    text-align: center;
}

.popup:Target{
    display: block;
}

/* -- Pop Up -- */

/*foot*/
footer h1{
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 20px;
}

footer h1 span{
	color: #00ffeb;
}
footer{
	display: grid;
	background: rgb(57,225,194);
	background: linear-gradient(90deg, rgba(57,225,194,1) 0%, rgba(76,140,231,1) 100%);
	height: 65px;
	justify-content: center;
	align-content: center;
	margin-top: 100px;
}


@media(max-width: 576px){
    .navbar{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        height: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navigation{
        padding-left: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: start;
        column-gap: 30px;

    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        font-size: 1.5em;
    }
    .konten-atas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }
    .pesanan{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .harga{
        display: grid;
        font-size: 0.7em;
        height:fit-content;
        justify-self: center;
    }
    .info-pesanan{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
    }
    .dot-status{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 10px;
    }
    .pesanan{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
    }
    .tanda{
        font-size: 0.8em;
    }

    .kontenPopup h1{
        font-size: large;
    }
    .kontenPopup{
        width: 80%;
        height: 70%;
        font-size: large;
    }

}
